<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=-1.1">
    <title>The Blue Ink</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <link rel="icon" type="image/x-icon" href="/image/1693219223961_new-removebg-preview.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</head>
<body >
<div class="container">
    <header class="head">
        <img src="/image/1693219223961_new-removebg-preview.ico" alt="mylog" id="img_1">
        <img src="/image/menu_sign.ico" alt="mylog" id="img_menu">
        <Button id="img_login"><img src="/image/Login_pic.ico" alt="mylog" id="img_login_pic" onclick="showForm()"></Button>
        
        <ul>
            <!--<li><select id="drop"><option disabled selected>Course</option></select></li>-->
            <li id="line_h"><a id="drop"  >Course</a></li>
            <li id="line_h"><a href="#" >About</a></li>
            <li id="line_h"><a href="#" >Lecture Videos</a></li>
            <li id="line_h"><a href="/loading" >Books</a></li>
        </ul>
       
    <div class="overlay">
        <div class="out_1">
            <div class="outlaw">
            <section id="block_1" class="null">
                <h3 id="exam" class="hatt">Engineering Exams</h3><h4 id="arrow" class="hatna">></h4>
</h3>       </section>
            <section id="block_1">
                <h3  id="exam">Medical Exams</h3><h4 id="arrow">></h4>
</h3>       </section>
            <section id="block_1">
                <h3  id="exam">Olympiad Exams</h3><h4 id="arrow">></h4>
</h3>        </section>
            <section id="block_1">
                <h3  id="exam" >Programming </h3><h4 id="arrow">></h4>
</h3>       </section>
            </div>
            <section class="out_2">
                <h3 id="appear_1" class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>
                <h3 id="appear_2"class="text_deco"></h3>


            </section>
        </div>
    </div>
    </header>

    
    <button id="butt" onclick="showForm()">Login/Register</button>
    <div class="slider">
        <img class ="i1" src="/image/Designer (1).png" alt="img1">
    </div>
    <div class="area_1">

        <section class="text_1">
            <h1><span id="sp_1">Unveiling the Unseen:</span> <span id="sp_2"> Where New and Well-Studied Concepts Collide...</span> 
            <br><span id="sp_3">Unlock your potential by signing up with The Blue Ink and get valuable experience.</span>
            </h1>
        </section>
        <button  class="butt_1" onclick="window.open('https://youtube.com/@theblueink...1814');">Watch Lecture Now</button>
        <section class="image_area">
            <img class="img_3" src="/image/94998548_9881382-removebg-preview.png" alt="thinking_man">


        </section>

    </div>
    <div class="area_2">
        <section class="content_1">
            <span class="sp_4"><h2>Free Lectures</h2><img class="im_2" src="/image/OIP-removebg-preview (9).ico" alt="lecture"></span>
            <span class="sp_4"><h2>Pyqs and Created problems</h2><img class="im_2" src="/image/question.ico" alt="pyqs"></span>
            <span class="sp_4 sp_5"><h2>Pdfs of Books</h2><img class="im_2" src="/image/pdf-file.ico" alt="pdf"></span>
            
        </section>

    </div>
    <div id="form-overlay" class="form-overlay">
        <div class="form-container">
            <div class="form-header">
                <h2 id="regist">Register</h2>
                <button id="cancel-button" class="cancel-btn">&times;</button>
            </div>
            <form action="/studregistration" method="post">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="firstname" placeholder="Enter your first name" required>
    
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="lastname" placeholder="Enter your last name" required>
    
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Enter your state" required>
    
                <label for="country">Country</label>
                <input type="text" id="country" name="country" placeholder="Enter your country" required>
    
                <label for="class">Class</label>
                <input type="text" id="class" name="class" placeholder="Enter your class" required>
    
                <label for="exam">Exam Preparing For</label>
                <input type="text" id="exam" name="exam" placeholder="Enter the exam" required>
    
                <label for="password">Set Password</label>
                <input type="password" id="password" name="password" placeholder="Set your password" required>
    
                <button type="submit" class="submit-btn">Submit</button>
                <button type="button" class="login-btn">Login</button>
            </form>
        </div>
    </div>
     <div class="dynamic-text dynamic-text_new">
            <span class="word word_new"><%=arr[0]%></span>
            <span class="word word_new"><%=arr[1]%></span>
            <span class="word word_new"><%=arr[2]%></span>
            <span class="word word_new"><%=arr[3]%></span>
            <span class="word word_new"><%=arr[4]%></span>
            <span class="word word_new"><%=arr[5]%></span>
            <span class="word word_new"><%=arr[6]%></span>
            <span class="word word_new"><%=arr[7]%></span>
            <span class="word word_new"><%=arr[8]%></span>
            <span class="word word_new"><%=arr[9]%></span>
            <span class="word word_new"><%=arr[10]%></span>
            <span class="word word_new"><%=arr[11]%></span>
            <span class="word word_new"><%=arr[12]%></span>
            <span class="word word_new"><%=arr[13]%></span>
            <span class="word word_new"><%=arr[14]%></span>
            <span class="word word_new"><%=arr[15]%></span>
            
        </div>



  <div class="feedback-container feedback-container_new">
   <form action="/feedback" method="post">
    <h2>Feedback Form</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your Name">

    <label for="school">School/College</label>
    <input type="text" id="school" name="school" placeholder="Your School/College">

    <label for="feedback">Feedback</label>
    <textarea id="feedback" name="feedback" placeholder="Your Feedback"></textarea>

    <button  type="submit">Submit</button>
   </form>
  </div>
  <div class="feedzz">
  </div>
  
 

  <footer class="footer">
    <div class="footer-content footer-content_new">
      <div class="social-media social-media_new">
        <a href="https://youtube.com/@theblueink...1814?si=GUD3A8iotN0lJ0hc" target="_blank"><i class="fab fa-youtube you"></i></a>
        <a href="https://github.com/Fark0910" target="_blank"><i class="fab fa-github git"></i></a>
        <a href="https://unstop.com/u/fardekha5786" target="_blank"><i class="fas fa-trophy tro"></i></a>
        <a href="https://instagram.com/fardeen0910" target="_blank"><i class="fab fa-instagram ins"></i></a>

        <a href="https://www.linkedin.com/in/fardeen-khan-469960256" target="_blank"><i class="fab fa-linkedin lin"></i></a>
        
      </div>
      <img src="/image/1693219223961_new-removebg-preview.ico" alt="mylog" id="img_again">
      <p>&copy; 2022 The Blue Ink. All rights reserved.</p>
    </div>
  </footer>
</div>
</body>
<script>

    let form_1=document.querySelector(".form-container");
    let cancel_form=document.getElementById("cancel-button")
    let contain=document.querySelector(".container");
    function showForm() {
        form_1.style.display = "block";
        contain.style.opacity="0.7";
        
    }
    
    
    function hideForm() {
       form_1.style.display = "none";
       contain.style.opacity="1";
    }
   
    cancel_form.addEventListener("click", hideForm);
</script>

</html>